<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.pdsw.samples.persistence.mybatisimpl.mappers.ConsultaMapper">

    <resultMap type='Consulta' id='ConsultaResult'>
        <id property='id' column='id'/>
        <result property='fechayHora' column='fecha_y_hora'/>
        <result property='resumen' column='resumen'/>
    </resultMap>


    <select id="getConsultas" resultMap="ConsultaResult">
        SELECT con.idCONSULTAS, con.fecha_y_hora, con.resumen, con.PACIENTES_id, con.PACIENTES_tipo_id
        FROM CONSULTAS as con
    </select>

</mapper>