<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.pdsw.samples.persistence.mybatisimpl.mappers.PacienteMapper">

    <resultMap type='Paciente' id='PacienteResult'>
        <id property='id' column='id'/>
        <id property='tipo_id' column='tipo_id' typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property='nombre' column='nombre'/>
        <result property='fechaNacimiento' column='fecha_nacimiento'/>
    </resultMap>


    <resultMap type='Paciente' id='PacienteResult2'>
        <id property='id' column='id'/>
        <id property='tipo_id' column='tipo_id' typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property='nombre' column='nombre'/>
        <result property='fechaNacimiento' column='fecha_nacimiento'/>
        <collection property='consultas' ofType='Consulta' resultMap="ConsultaResult"/>
    </resultMap>


    <resultMap type='Paciente' id='PacienteResult3'>
        <id property='id' column='id'/>
        <id property='tipo_id' column='tipo_id' typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property='fechaNacimiento' column='fecha_nacimiento'/>
    </resultMap>

    <resultMap type='Consulta' id='ConsultaResult'>
        <id property='id' column='idCONSULTAS'/>
        <result property='fechayHora' column='fecha_y_hora'/>
        <result property='resumen' column='resumen'/>
    </resultMap>


    <select id="getPacientes" resultMap="PacienteResult">
        SELECT
        p.id AS id,
        p.tipo_id AS tipo_id,
        p.nombre AS nombre,
        p.fecha_nacimiento AS fecha_nacimiento
        FROM
        PACIENTES AS p
    </select>


    <select id="consultarPacientesPorId" resultMap="PacienteResult2">
        SELECT
        p.id AS id,
        p.tipo_id AS tipo_id,
        p.nombre AS nombre,
        p.fecha_nacimiento AS fecha_nacimiento,
        c.idCONSULTAS AS idCONSULTAS,
        c.fecha_y_hora AS fecha_y_hora,
        c.resumen AS resumen
        FROM
        PACIENTES AS p JOIN CONSULTAS AS c ON p.id = c.PACIENTES_id AND p.tipo_id = c.PACIENTES_tipo_id
        WHERE
        p.id = #{id} AND p.tipo_id = #{tipoIdentificacion}
    </select>


    <select id="consultarMenoresConEnfermedadContagiosa" resultMap="PacienteResult2">
        SELECT
        p.id AS id,
        p.tipo_id AS tipo_id,
        p.nombre AS nombre,
        p.fecha_nacimiento AS fecha_nacimiento,
        c.idCONSULTAS AS idCONSULTAS,
        c.fecha_y_hora AS fecha_y_hora,
        c.resumen AS resumen
        FROM
        PACIENTES AS p JOIN CONSULTAS AS c ON p.id = c.PACIENTES_id AND p.tipo_id = c.PACIENTES_tipo_id
        WHERE
        (c.resumen LIKE '%varicela%' OR c.resumen LIKE '%hepatitis%') AND p.tipo_id != 'CC'
        ORDER BY
        p.fecha_nacimiento ASC;
    </select>
</mapper>