<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatisimpl.mappers.PacienteMapper">

    <resultMap type='Paciente' id='PacienteResult'>
        <id property='id' column='id'/>        
        <id property='tipo_id' column='tipo_id' typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property='fechaNacimiento' column='fecha_nacimiento'/>
        <result property='nombre' column='nombre'/>
        <collection property='consultas' javaType='ArrayList' ofType='Consulta' resultMap='edu.eci.pdsw.samples.persistence.mybatisimpl.mappers.PacienteMapper.ConsultaResult' columnPrefix='consulta_'></collection>
    </resultMap>

    <select id="getPacientes" resultMap="PacienteResult">
        SELECT
            p.id,
            p.tipo_id,
            p.fecha_nacimiento,
            p.nombre
        FROM
            PACIENTES as p
    </select>

    <select id="consultarPacientesPorId" resultMap="PacienteResult">
        SELECT p.id, p.tipo_id, p.nombre, p.fecha_nacimiento, co.idCONSULTAS as co_id,
        co.fecha_y_hora as co_fecha_y_hora,
        co.resumen as co_resumen, co.PACIENTES_id as co_PACIENTE_id, co.PACIENTES_tipo_id as co_PACIENTES_tipo_id
        FROM PACIENTES as p JOIN CONSULTAS as co ON p.id = co.PACIENTES_id
        WHERE (p.id = #{id}) AND (p.tipo_id = #{tipoIdentificacion})
    </select>


</mapper>